.signUpContainer {
  margin: 5% auto;
  width: 93%;
  display: flex;
  height: 570px;
  border: 1px solid;
  border-radius: 15px;
  justify-content: space-between;
  background-color: rgb(4, 106, 190);
  color: white;
  box-shadow: 10px 5px 20px rgb(146, 146, 146);
}
